::-webkit-scrollbar {
    width: 5px;
    position: relative;
}

::-webkit-scrollbar-track {
    background-color: salmon;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(255, 189, 181);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.block {
    width: 147px;
    height: 150px;
    /* background: linear-gradient(to top, #333 0%, #666 30%, #333 100%);
    box-shadow: inset 2px 2px 5px 2px #333; 2px 2px for x&y,   blur radius 5px, spread radius 2px */
    border: 3px solid blue;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    margin: 3.5px;
    padding: 7px;
}

.block:last-child {
    width: 150px;
}

input {
    margin: 0;
}

.block .wrapper {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}

.columnn {
    flex-direction: column;
}

/* .wrapper.vertical {
    flex-direction: row;
} */

h3 {
    font-family: Arial;
    font-size: 18px;
    text-align: center;
}

.vertical label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75px;
}

.vertical input{
    width: 75px;
    transform: rotate(90deg);
}

#hex {
    width: 60px;
}

.wrapper label:first-child {
    /* color: salmon; */
    display: flex;
    justify-content: space-between;
}

.block:last-child .wrapper {
    display: block;
}

#ok-shape{
    margin-left: 10px;
}

#hex {
    margin-left: 2px;
}

.block:last-child label {
    margin-left: 5px;
}

.block:last-child input {
    margin-left: 3px;
}

.container {
    margin-top: 20px;
    position: relative;
}

#block {
    width: 150px;
    height: 150px;
    background-color: salmon;
    position: absolute;
    left: 0;
    top: 0;
}

